<div class="top-portion">
  <h1 id="portfolio">Portfolio</h1>
</div>

<div class="container body-portion">
  <center>
    <ul>
      <% @foods.each do |food| %>
         <a href="<%=food_path(food)%>"><img class="img-fluid" src="<%= food.image %>" /></a>
      <% end %>
    </ul>


  </center>
</div>
