<h1>ADMIN PRODUCT VIEWER</h1>
<div class="container">
  <ul>
    <% @foods.each do |food| %>
       <li><%= link_to food.name, food_path(food)%></li>
    <% end %>
  </ul>

  <%= link_to "ADD a product", new_food_path %>
</div>
